
   

 .right-align {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
    margin-bottom: 15px;
    padding: 5px;
  }
  
  

.list-group-item{
    margin-left: 150px;
    margin-right: 150px;
}

img{
    width:170px;
    height:170px;
    border-radius: 50%;
    float:left;
    margin-right: 70px;
    margin-left: 50px;
}


.fa-pencil-alt{
    margin-left: 500px;
  display: inline-block;
  margin-right: 40px;
  
}
.fa-trash-alt{
    margin-right: 40px;}


  #name{
    width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
  }

  #address{
    width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
  }

  #email{
    width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
  }

  #phone{
    width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
  }


  button{
    margin-left: 300px;
    margin-top: 50px;
    width: 170px;
  }

label{
  margin-left: 400px;
  margin-top: 10px;
}